{% extends 'emails/base.html.twig' %}

{% block content %}
    <p style="margin-bottom: 20px !important;">Hi {{ name }},</p>
    <p style="margin-bottom: 20px !important;">This is a courtesy email to let you know that your account on project_name has now been deleted.</p>

    <p>All the best, <br>Project Name</p>
{% endblock %}
